.intro__bike-image {
  position: absolute;
  width: 440px;
  height: 300px;
  top: 392px;
  left: 630px;
  border-radius: 20px;
  background-color: #F4F4F4;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  background-image: url(../../../images/intro-bike.png);
  background-size: 340px 260px;
  background-repeat: no-repeat;
  background-position: bottom 20px left 50px;
}
