$backgroundWhite: #F4F4F4;
$backgroundGrey:#EFEFEF;
$backgroundDarkBlack: #2F2F2F;
$backgroundBlack: #333333;
$textWhiteColor: #FFFFFF;
$textDarkWhiteColor: #E5E5E5;
$textBlackColor: #151515;
$textGreyColor: #222222;
