
.eddi__quote{ 
    margin: 0;
    padding:0;
    margin-bottom: 262px;
    font-size: 34px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.5px;
    text-align: left;
}