.highway__bycicle-textcontainer {
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    vertical-align: bottom;
    width: 85.7vw;
    max-height: 60px;
    margin-bottom: 120px;
}