.highway__title {
    @include titleText();
    max-width: 460px;
}

@media all and (max-width: 320px) {
    .highway__title {
        padding-top: 40px;
        margin-bottom: 40px;
        border-top: 1px solid #E3E3E3;
    }
}