.trainins__main-text {
  @include nullify();
  margin-top: 50px;
  margin-bottom: 182px;
  @include greyTextTypogr();
}

@media all and (max-width:1000px) {
  .trainins__main-text {
    margin: 0;
    margin-bottom: 40px;
  }
}