.header {
  display: flex;
  width: 100vw;
  background-color: $backgroundWhite;
  justify-content: flex-end;
  height: 74px;
  position: fixed;
  z-index: 10;
}

@media all and (max-width:700px) {
  .header {
    padding-right: 30px;
  }
}