.highway__name-of-bycicle {
    @include nullify();
    margin-top: 22px;
    margin-left: -20px;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 22px;
letter-spacing: 0px;
text-align: left;
color: #151515;
}